---
import { Image } from "astro:assets"
import brandingIcon from '/src/assets/ownImages/Branding_icon.svg';
import communityIcon from '/src/assets/ownImages/Community_manager_icon.svg';
import advertisementsIcon from '/src/assets/ownImages/Anuncios_icon.svg';
import ECommerceIcon from '/src/assets/ownImages/E-commerce_icon.svg';
import productiosIcon from '/src/assets/ownImages/Producciones_icon.svg';
import consultancyIcon from '/src/assets/ownImages/Consultoria_icon.svg';
---

<article id="services">
    <h2 class="title servicesText">servicios</h2>
    <p class="subtitleText servicesText">nos centramos en escuchar detenidamente las necesidades de cada cliente, armar un plan estratégico a medida y trabajar para lograr los mejores resultados.</p>
    <div class="servicesContainer">
        <div class="backgroundDetail rotateCounterClockwise"></div>
        <div class="service toRight">
            <Image id="brandingIcon" class="sectionIcon" src={brandingIcon} alt="Branding Icon" loading="lazy"/>
            <div class="text">
                <h2 class="title servicesText textLeft">Branding</h2>
                <p class="subtitleText textLeft servicesText">Te ayudamos a crear el <mark>universo visual</mark> de tu marca con el objetivo de <mark>conquistar la mente y el  corazón del consumidor.</mark></p>
            </div>
        </div>
        <div class="service">
            <div class="text communityText">
                <h2 class="title servicesText">Community</h2>
                <h2 class="title servicesText">manager</h2>
                <p class="subtitleText servicesText"><mark>Tu tiempo es muy valioso,</mark> nos encargamos de todas tus redes.</p>
                <p class="subtitleText servicesText"> <mark>¿estas listo para hacer crecer tu marca?</mark></p>
            </div>
            <Image id="communityIcon" class="sectionIcon" src={communityIcon} alt="Community manager Icon" loading="lazy"/>
        </div>
        <div class="backgroundDetail rotateClockwise"></div>
        <div class="service toRight">
            <Image id="advertisementsIcon" class="sectionIcon" src={advertisementsIcon} alt="Anuncios Icon" loading="lazy"/>
            <div class="text">
                <h2 class="title servicesText textLeft advertisements">Anuncios</h2>
                <p class="doubleP subtitleText textLeft servicesText">Incrementemos juntos <mark>la visibilidad y el engagement.</mark></p>
                <p class="subtitleText textLeft servicesText">Encontremos la <mark>audiencia adecuada</mark> para llegar a <mark>clientes relevantes.</mark></p>
            </div>
        </div>
        <div class="service">
            <div class="text ecommerceText">
                <h2 class="title servicesText">Web | E-Commerce</h2>
                <p class="subtitleText servicesText ">La web es tu vidriera en el mundo online, </p>
                <p class="subtitleText"><mark>ideamos el plan perfecto para vos</mark></p>
            </div>
            <Image id="ECommerceIcon" class="sectionIcon" src={ECommerceIcon} alt="E-Commerce Icon" loading="lazy"/>
        </div>
        <div class="service toRight">
            <Image id="productiosIcon" class="sectionIcon" src={productiosIcon} alt="Producciones Icon" loading="lazy"/>
            <div class="text">
                <h2 class="title servicesText">Producciones</h2>
                <p class="subtitleText textRight servicesText">Combinamos <mark>creatividad y contenido de calidad</mark> para mostrar todo el potencial que tiene tu proyecto</p>
            </div>
        </div>
        <div class="service">
            <div class="text consultancyText">
                <h2 class="title servicesText textLeft">Consultoria</h2>
                <p class="subtitleText textLeft servicesText"><mark>Te asesoramos y guiamos para</mark> destrabar eso que “no sabés qué es” y hará <mark>que tu marca despegue.</mark></p>
            </div>
            <Image id="consultancyIcon" class="sectionIcon" src={consultancyIcon} alt="Consultoria Icon" loading="lazy"/>
        </div>
        <div class="backgroundDetail rotateCounterClockwise"></div>
    </div>
</article>

<style>
    #services{
        background-color: black;
        overflow: hidden;
    }

    .servicesText{
        color: var(--backgroundColor);
    }

    .servicesContainer{
        padding-bottom: 30px;
    }

    .service{
        display: flex;
        margin: 32px 0;
        width: 85%;
        margin-right: 8px;
    }

    .text{
        border-bottom: 5px dashed var(--backgroundColor);
        padding-bottom: 32px;
    }

    .text > p{
        margin-bottom: 4px;
    }

    .textLeft{
        text-align: left;
        margin-left: 12px;
    }

    .textRight{
        text-align: right;
        margin-right: 16px;
    }
    
    .toRight{
        margin-left: auto;
    }

    .sectionIcon{
        position: relative;
        height: auto;
        opacity: 1;
        animation: fade-in linear;
    }

    @keyframes fade-in {
        0%{ opacity: 0;}
        100%{ opacity: 1;}
    }

    .backgroundDetail{
        position: absolute;
        width: 100%;
        height: 5px;
        border-bottom: 15px dashed var(--backgroundColor);
        opacity: 0.25;
        margin-bottom: -45px;
    }

    .rotateClockwise{
        rotate: 10deg;
    }

    .rotateCounterClockwise{
        rotate: -10deg;
    }

    #brandingIcon{
        width: 300px;
        height: 300px;
        margin-bottom: -300px;
        margin-left: -175px;
        margin-right: -30px;
    }

    #brandingIcon ~ .text{
        margin-top: 65px;
    }

    #communityIcon{
        width: 275px;
        height: 275px;
        margin-right: -125px;
        margin-bottom: -275px;
    }

    #comunityIcon ~ .text{
        margin-top: 16px;
    }

    .communityText{
        margin-top: 16px;
    }

    .communityText > h2{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    #advertisementsIcon{
        width: 275px;
        height: 275px;
        margin-left: -120px;
    }

    #advertisementsIcon ~ .text{
        margin-top: 30px;
        margin-left: -50px;
        padding: 8px;
    }

    #ECommerceIcon{
        width: 275px;
        height: 275px;
        margin-right: -140px;
    }

    #productiosIcon{
        width: 200px;
        height: 200px;
        margin-left: -85px;
    }

    #consultancyIcon{
        width: 325px;
        height: 325px;
        margin-right: -103px;
        margin-left: -60px;
        margin-bottom: -90px;
    }

    @media only screen and (min-width: 600px) {
        #brandingIcon{
            width: 400px;
            height: 400px;
            margin-left: -250px;
        }

        #brandingIcon ~ .text{
            margin-top: 85px;
            margin-left: -10px;
        }

        #communityIcon{
            width: 330px;
            height: 330px;
            margin-right: -165px;
        }

        .communityText{
            margin-top: 48px;
        }

        #advertisementsIcon{
           width: 350px;
           height: 350px;
        }

        #advertisementsIcon ~ .text{
            margin-left: -80px;
            padding: 8px;
        }

        #ECommerceIcon{
            width: 350px;
            height: 350px;
            margin-right: -175px;
        }

        #productiosIcon{
            width: 275px;
            height: 275px;
            margin-left: -125px;
        }

        #consultancyIcon{
            width: 400px;
            height: 400px;
            margin-right: -120px;
            margin-left: -78px;
        }
    }

    @media only screen and (min-width: 1000px) {
        .text{
            width: 50%;
        }

        #brandingIcon{
            width: 600px;
            height: 600px;
        }

        #brandingIcon ~ .text{
            margin-top: 150px;
        }

        .communityText{
            margin-left: auto;
            margin-top: 140px;
        }

        #communityIcon{
            width: 400px;
            height: 400px;
            transform: rotate(-20deg);
        }

        #advertisementsIcon{
            width: 500px;
            height: 500px;
            margin-left: -200px;
            margin-bottom: -300px;
        }

        #advertisementsIcon ~ .text{
            padding-bottom: 16px;
            height: fit-content;
        }

        .ecommerceText{
            margin-left: auto;
            height: fit-content;
        }

        #ECommerceIcon{
            width: 450px;
            height: 450px;
            margin-top: -150px;
            margin-right: -290px;
            margin-bottom: -300px;
        }

        #productiosIcon{
            width: 450px;
            height: 450px;
            top: -25px;
            margin-left: -305px;
            margin-bottom: -300px;
        }

        #productiosIcon ~ .text{
            height: fit-content;
        }

        #consultancyIcon{
            width: 600px;
            height: 600px;
            margin-right: -250px;
            margin-left: -200px;
            margin-bottom: -200px;
        }

        .consultancyText{
            margin-left: auto;
            height: fit-content;
        }

    }

    @media only screen and (min-width: 1224px) {
        .communityText{
            margin-top: 48px;
        }
    }
</style>